<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Tyler Matijevich">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
  </head>
  <body>
    
    <!-- 
    header 
    -->
    <div class="header">
      <p style="font-size:12px; font-weight:bold; color:rgb(138,138,138);">{% if page.title=="Introduction" %}Home{% else %}Home > {{page.title}}{% endif %}</p>
      {% if page.title=="Introduction" %}<a href="#">Git for Windows Tutorial</a>{% else %}<a href="{{page.url}}"></a>{% endif %}
    </div>
    
    <!-- 
    main body 
    -->
    <div class="main-body">
      <!-- 
      navigation
      -->
      <div class="left-navigation">
        
      </div>
      
      <!-- 
        main content 
      -->
      <div class="main-content">
        {% block content %} {{ page.content }} {% endblock %}
      </div>
    </div> 
    
    
    <!-- 
    footer 
    -->
    
  </body>
</html>
