/*
Notes:
  * Do not add spaces between property values and units (20px not 20 px)
  * Box model
    * Content > Padding > Border > Margin
  * Sizing
    * [all]
    * [top/bottom] [left/right]
    * [top] [right] [bottom] [left]
  * Margins can overlap with other sections (especially floating sections > consider position: relative)
  * There are inline elements and block-level elements
    * Block-level elements start on new line and take up full width available
    * Inline elements are the opposite
*/
/*
Template:
  1. Font, formatting
  2. Colors
  3. Position, display
  4. Padding
  5. Border
  6. Margin
*/

/*******************************************************************************
Body
*******************************************************************************/
/*
  The body has an 8px margin by default (html has no margin)
*/
@font-face { font-family: "Open Sans"; src: url("../font/OpenSans-Regular.ttf"); }
@font-face { font-family: "Open Sans"; font-style: italic; src: url("../font/OpenSans-Italic.ttf"); }
@font-face { font-family: "Open Sans"; font-weight: bold; src: url("../font/OpenSans-Bold.ttf"); }
body {
  /* Specify several font names as a "fallback" system */
  font-family: "Open Sans", serif; /* "Segoe UI" */
  margin: 0px;
}


/*******************************************************************************
Header
*******************************************************************************/
#header {
  /* Same as website */
  background-color: rgb(245,245,245); /* Gray 1 */
  /* As soon as you add padding to the div, the div encapsulates the whole 21.440 margin */
  padding: 10px 0px 5px;
}
#header-center {
  max-width: 1100px;
  padding: 0px 10px;
  /* Only setting right and left margin will leave top and bottom default */
  margin-right: auto;
  margin-left: auto;
}
#header a {
  color: Black;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}
#footer {
  /* This causes the div to uniquely include the margin(s) of the child element(s) - block does not do the trick */
  /* display: table; */
  /* font-size: 16px; */
  background-color: rgb(245,245,245); /* Gray 1 */
  position: fixed;
  width: 100%;
  bottom: 0px;
}
#close-footer {
  padding: 10px;
}
#close-footer:hover {
  border-radius: 5px;
  background-color: rgb(230,230,230); /* Gray 2 */
}


/*******************************************************************************
Navigation (left)
*******************************************************************************/
#left-navigation {
  float: left;
  width: 175px;
  top: 10px;
  position: sticky;
  /* This leaves a gap on top of the navigation */
  margin: 10px 0px;
}
#left-navigation a {
  font-size: 18px;
  font-weight: bold;
  color: Black;
  text-decoration: none;
  display: block;
  padding: 10px;
}
#left-navigation a:hover {
  color: White;
  background-color: rgba(90,80,255,0.9); /* Violet */
}
#left-navigation a.subsec {
  font-size: 14px;
  margin-left: 15px;
}


/*******************************************************************************
Content
*******************************************************************************/
#main-body {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
#main-body #main-content {
  /* border-left: 1px solid Black; */
  padding: 15px;
  margin-left: 200px;
  margin-bottom: 100px;
}
